
<!DOCTYPE html>
{% load humanize i18n %}
<html lang="pt-br">
<head>
  {% block title %}{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {{ form.media.css }}
</head>
<body>
    {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
    {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    {% block scripts %}
      {{ block.super }}    # retain the standard scripts that apply everywhere
      {{ form.media.js }}     # add the form specific media/scripts
    {% endblock %}
</body>
</html>
