{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link type="text/x-scss"
          href="{% static 'css/credentials.css' %}"
          rel="stylesheet"
          media="screen"/>
{% endblock styles %}
{% block content %}
    <div class="d-flex justify-content-center min-vh-100 bg-light">
        <div class="d-flex align-items-center">
            <div class="credentials card shadow">
                {% load crispy_forms_tags %}
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock content %}
