{% load i18n %}
{% autoescape off %}

{% blocktranslate %}
To initiate the password reset process for your {{ user.get_username }} account,
click on the link below:
{% endblocktranslate %}

{{ protocol }}://{{ domain }}{% url 'PasswordResetConfirm' uidb64=uid token=token %}

{% blocktranslate %}
If clicking the link above doesn't work, copy and paste the URL into a new browser.
{% endblocktranslate %}

{% blocktranslate %}
Yours sincerely,
Team {{ site_name }}
{% endblocktranslate %}

{% endautoescape %}