{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link type="text/x-scss"
          href="{% static 'css/credentials.css' %}"
          rel="stylesheet"
          media="screen"/>
{% endblock styles %}
{% block content %}
    <div class="d-flex justify-content-center min-vh-100 bg-light">
        <div class="d-flex align-items-center">
            <div class="credentials card shadow">
                <div class="card-header">
                    <h3>{% translate "Password has been reset" %}</h3>
                </div>
                <div class="card-body">
                        <p>
                            {% translate "Your password has been changed. Now you can" %} <a href="{% url 'SignIn' %}">{% translate "sign in" %}</a>.
                        </p>
                    <a class="btn btn-primary" href="{% url 'home' %}">OK</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
